body {
    background-color: lightblue;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#redButton {
    width: 250px;
    height: 250px;

    border-radius: 20%;
    border: black;

    background-color: red;
    color: white;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;
}
.floatingNumber {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;

    animation: floatUp 1s ease-out;
}

@keyframes floatUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100px);
        opacity: 0;
    }
}
