body {
    background-color: lightblue;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#redButton {
    width: 250px;
    height: 250px;

    border-radius: 20%;
    border: black;

    background-color: red;
    color: white;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;
}
